:root {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  line-height: 1.1;
  font-weight: 200;
  font-optical-sizing: auto;
  font-style: normal;

  color-scheme: light dark;
  color: var(--text-main-color);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --ui-main-color: #b75b42;
  --ui-darker-color: #934d34;
  --reader-darker-color: #623727;
  --ui-bkg-color: #000000;
  --text-main-color: rgb(220, 220, 220);
  --ui-contrast-bkg-color: #161616;
}
a {
  color: var(--ui-main-color);
  width: fit-content;
}

body {
  justify-content: center;
  font-size: 20px;
  overflow-x: hidden;
}

#site-map {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  width: 0;
  height: 0;
  overflow: hidden;
  gap: 0.25em;
  transition: width 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: height 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}

#cicada {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-size: 20px;
}

#center-area {
  display: flex;
  background-color: var(--ui-bkg-color);
  padding: 1em;
  gap: 2em;
  border: 1px solid;
}

#ascii-mask {
  height: calc(100vh - 12em);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 6em 12em;
}

.wide-nav {
  height: 325px !important;
  border: var(--ui-main-color) 1px solid !important;
}

#net-map {
  position: fixed;
  top: 2em;
  left: 2em;
  background-color: black;
}

#net-map:hover {
  background-color: var(--reader-darker-color);
}

#net-map > svg > g > path {
  width: 8em;
  height: 8em;
}

#app-nav {
  position: fixed;
  top: 6em;
  left: 2em;
}

figure {
  margin: 0;
  width: 80%;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-weight: 100;
  margin-top: 1em;
}

.begin-line {
  min-width: 15em;
}

.begin-line + p {
  text-align: center;
}
.highlight:hover {
  background-color: var(--reader-darker-color);
}

.highlight:active {
  background-color: var(--reader-darker-color);
}
@media (max-width: 1000px) {
  #center-area {
    flex-direction: column;
    gap: 1em;
  }
  #ascii-mask {
    height: calc(100vh - 2em);
    margin: 1em;
  }

  #tooltips {
    display: none !important;
  }
}
